@model List<Post>

<h1>Lista postów</h1>
<a class="btn btn-primary" asp-controller="Post" asp-action="Create">Utwórz post</a>
@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th> @Html.DisplayNameFor(model => model[0].PostContent)</th>
                <th> @Html.DisplayNameFor(model => model[0].PostAuthor)</th>
                <th> @Html.DisplayNameFor(model => model[0].PostDate)</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody style="background-color: lightblue;">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.PostContent
                    </td>

                    <td>
                        @item.PostAuthor
                    </td>

                    <td>
                        @item.PostDate
                    </td>

                    <td>
                        <a class="btn btn-outline-primary" style="background-color: whitesmoke;" asp-controller="Post" asp-action="Update" asp-route-id="@item.PostId">Edytuj</a>
                        <a class="btn btn-outline-primary" style="background-color: whitesmoke;" asp-controller="Post" asp-action="Details" asp-route-id="@item.PostId">Szczegóły</a>
                        <a class="btn btn-outline-primary" style="background-color: whitesmoke;" asp-controller="Post" asp-action="Delete" asp-route-id="@item.PostId">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}